apiVersion: v2
name: peaka
description: Helm chart of the best data integration platform, aka Peaka.
type: application
version: 1.0.9
appVersion: "0.3.50"
dependencies:
  - name: minio
    version: ~5.1.0
    repository: https://charts.min.io/
    condition: minio.enabled
  - name: mariadb-galera
    alias: mariadb
    version: 11.2.3
    repository: https://charts.bitnami.com/bitnami
    condition: mariadb.enabled
  - name: kafka
    version: 26.8.5
    repository: https://charts.bitnami.com/bitnami
    condition: kafka.enabled
  - name: mongodb
    version: 14.8.0
    repository: https://charts.bitnami.com/bitnami
    condition: mongodb.enabled
  - name: redis
    version: 18.11.1
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
  - name: traefik
    alias: traefik
    version: 28.2.0
    repository: https://helm.traefik.io/traefik
    condition: traefik.enabled
  - name: permify
    version: 0.4.0
    repository: https://permify.github.io/helm-charts
    condition: permify.enabled
