apiVersion: v1
kind: Secret
metadata:
  name: peaka-permify-postgresql-uri-secret
type: Opaque
stringData:
  uri: postgres://{{ include "peaka.postgresql.user" . }}:{{ include "peaka.postgresql.password" . }}@{{ include "peaka.pgcat.fullname" . }}:{{ include "peaka.pgcat.port" . }}/permify?sslmode=disable&plan_cache_mode=force_custom_plan&default_query_exec_mode=cache_describe
