{{- if and .Values.postgresql.enabled (not .Values.externalPostgresql.enabled) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.postgresql.primary.initdb.scriptsConfigMap }}
data:
  {{- if eq .Values.hiveMetastore.metastoreType "postgres" }}
  01-hive-metastore.sql: |
    {{- include "peaka.postgresql.initHive" . | nindent 4 }}
  {{- end }}

  02-permify.sql: |
    {{- include "peaka.postgresql.initPermify" . | nindent 4  }}

  03-peaka.sh: |
    #!/bin/bash
    set -e

    run_init () {
      DB=$1

      echo "Running init script for peaka db $DB..."

      psql -v ON_ERROR_STOP=1 --username {{ include "peaka.postgresql.user" . | quote }} --dbname "$DB" <<-'EOSQL'
      {{- include "peaka.postgresql.initPeaka" . | nindent 6 }}
    EOSQL
    }

    run_init {{ include "peaka.postgresql.database" . }}

  04-peakabigtable.sh: |
    #!/bin/bash
    set -e

    run_init () {
    DB=$1

    echo "Running init script for peaka bigtable db $DB..."

    psql -v ON_ERROR_STOP=1 --username {{ include "peaka.postgresql.user" . | quote }} --dbname "$DB" <<-'EOSQL'
      {{- include "peaka.postgresql.initPeakabigtable" . | nindent 6 }}
    EOSQL
    }

    run_init {{ include "peaka.bigtable.database" . }}

  05-abstract_schema_mapper.sh: |
    #!/bin/bash
    set -e

    run_init () {
      DB=$1

      echo "Running init script for abstract schema mapper schema in db $DB..."

      psql -v ON_ERROR_STOP=1 --username {{ include "peaka.postgresql.user" . | quote }} --dbname "$DB" <<-'EOSQL'
      {{- include "peaka.postgresql.initASM" . | nindent 6 }}
    EOSQL
    }

    run_init {{ include "peaka.postgresql.database" . }}
    run_init {{ include "peaka.bigtable.database" . }}

  06-studio.sh: |
    #!/bin/bash
    set -e

    run_init () {
      DB=$1

      echo "Running init script for studio schema in db $DB..."

      psql -v ON_ERROR_STOP=1 --username {{ include "peaka.postgresql.user" . | quote }} --dbname "$DB" <<-'EOSQL'
      {{- include "peaka.postgresql.initStudio" . | nindent 6 }}
    EOSQL
    }

    run_init {{ include "peaka.postgresql.database" . }}
    run_init {{ include "peaka.bigtable.database" . }}
{{- end }}
