apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "peaka.trino.catalog" . }}
  labels:
    app: {{ template "peaka.trino.fullname" . }}
    chart: {{ template "peaka.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    role: catalogs
data:
  cat_00000000_0000_0000_0000_000000000000.properties: |
    connector.name=postgresql
    connection-url=jdbc:postgresql://{{ template "peaka.postgresql.host" . }}:{{ template "peaka.postgresql.port" . }}/{{ template "peaka.postgresql.database" . }}
    connection-user={{ template "peaka.postgresql.user" . }}
    connection-password={{ template "peaka.postgresql.password" . }}
    case-insensitive-name-matching=true
  cat_00000000_0000_0000_0000_000000000003.properties: |
    connector.name=postgresql
    connection-url=jdbc:postgresql://{{ template "peaka.bigtable.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local:{{ template "peaka.bigtable.port" . }}/{{ template "peaka.bigtable.database" . }}
    connection-user={{ template "peaka.bigtable.user" . }}
    connection-password={{ template "peaka.bigtable.password" . }}
    case-insensitive-name-matching=true
  iceberg.properties: |
    connector.name=iceberg
    iceberg.catalog.type=hive_metastore
    hive.metastore.uri=thrift://{{ template "peaka.hive.name" . }}.{{ .Release.Namespace }}.svc.cluster.local:{{ template "peaka.hive.port" . }}
    fs.native-s3.enabled=true
    s3.path-style-access=true
    s3.endpoint={{ include "peaka.objectStore.endpoint" . }}
    s3.aws-secret-key={{ template "peaka.objectStore.secretKey" . }}
    s3.aws-access-key={{ template "peaka.objectStore.accessKey" . }}
    s3.region=us-east-1
    hive.metastore-cache-maximum-size=100000
    iceberg.expire_snapshots.min-retention=30s
    iceberg.remove_orphan_files.min-retention=30s
