apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "peaka.trino.coordinator" . }}
  labels:
    app: {{ template "peaka.trino.fullname" . }}
    chart: {{ template "peaka.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: coordinator
spec:
  selector:
    matchLabels:
      app: {{ template "peaka.trino.fullname" . }}
      release: {{ .Release.Name }}
      component: coordinator
  template:
    metadata:
      labels:
        app: {{ template "peaka.trino.fullname" . }}
        release: {{ .Release.Name }}
        component: coordinator
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/env-configmap.yaml") . | sha256sum }}
        checksum/coordinator-config: {{ include (print $.Template.BasePath "/trino/configmap-coordinator.yaml") . | sha256sum }}
        checksum/catalog-config: {{ include (print $.Template.BasePath "/trino/configmap-catalog.yaml") . | sha256sum }}
    spec:
      imagePullSecrets:
        {{- if .Values.peakaContainerRegistryAccessSecret }}
        - name: {{ .Values.peakaContainerRegistryAccessSecret.name }}
        {{- end }}
        {{- range $_, $secret := .Values.imagePullSecrets }}
        - name: {{ $secret }}
        {{- end }}
      serviceAccountName: {{ include "peaka.trino.serviceAccountName" . }}
      {{- with .Values.trino.securityContext }}
      securityContext:
        fsGroup: 1001
      {{- end }}
      volumes:
        - name: persistent-volume
          persistentVolumeClaim:
            claimName: {{ template "peaka.trino.coordinator" . }}
        - name: config-volume
          configMap:
            name: {{ template "peaka.trino.coordinator" . }}
        - name: catalog-volume
          configMap:
            name: {{ template "peaka.trino.catalog" . }}
        - name: workdir
          emptyDir: {}
        {{- if .Values.trino.server.kerberosConfig }}
        - name: kerberos-config
          configMap:
            name: {{ template "peaka.trino.kerberos" . }}
        {{- end }}
      {{- if .Values.trino.initContainers.worker }}
      initContainers:
      {{-  tpl (toYaml .Values.trino.initContainers.worker) . | nindent 6 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}-coordinator
          image: {{ default (include "peaka.image.registry" .) .Values.trino.image.registry }}/{{ .Values.trino.image.name }}:{{ .Values.trino.image.tag}}
          imagePullPolicy: {{ .Values.trino.image.pullPolicy }}
          volumeMounts:
            - mountPath: {{ .Values.trino.server.config.path }}/node.properties
              name: config-volume
              subPath: node.properties
            - mountPath: {{ .Values.trino.server.config.path }}/jvm.config
              name: config-volume
              subPath: jvm.config
            - mountPath: {{ .Values.trino.server.config.path }}/config.properties
              name: config-volume
              subPath: config.properties
            - mountPath: {{ .Values.trino.server.config.path }}/exchange-manager.properties
              name: config-volume
              subPath: exchange-manager.properties
            - mountPath: {{ .Values.trino.server.config.path }}/log.properties
              name: config-volume
              subPath: log.properties
            - mountPath: {{ .Values.trino.server.config.path }}/catalog/cat_00000000_0000_0000_0000_000000000000.properties
              name: catalog-volume
              subPath: cat_00000000_0000_0000_0000_000000000000.properties
            - mountPath: {{ .Values.trino.server.config.path }}/catalog/cat_00000000_0000_0000_0000_000000000003.properties
              name: catalog-volume
              subPath: cat_00000000_0000_0000_0000_000000000003.properties
            - mountPath: {{ .Values.trino.server.config.path }}/catalog/iceberg.properties
              name: catalog-volume
              subPath: iceberg.properties
            - mountPath: {{ .Values.trino.server.config.path }}/catalog/peaka_iceberg.properties
              name: catalog-volume
              subPath: peaka_iceberg.properties
            - mountPath: {{ .Values.trino.server.config.path }}
              name: persistent-volume
            - mountPath: {{ .Values.trino.server.config.path }}/catalog
              name: persistent-volume
              subPath: catalog
            - mountPath: /home/trino/.CData
              name: workdir
            {{- if .Values.trino.server.kerberosConfig }}
            - mountPath: {{ .Values.trino.server.kerberosConfigPath }}
              name: kerberos-config
            {{- end }}
            {{- if .Values.trino.accessControl }}
            - mountPath: {{ .Values.trino.server.config.path }}/access-control.properties
              name: config-volume
              subPath: access-control.properties
            {{- end }}
            {{- range $fileName, $fileContent := .Values.trino.coordinator.additionalConfigFiles }}
            - mountPath: {{ $.Values.trino.server.config.path }}/{{ $fileName }}
              name: config-volume
              subPath: {{ $fileName }}
            {{- end }}

          ports:
            - name: http
              containerPort: {{ .Values.trino.service.port }}
              protocol: TCP
          {{- range $key, $value := .Values.trino.coordinator.additionalExposedPorts }}
            - name: {{ $value.name }}
              containerPort: {{ $value.port }}
              protocol: {{ $value.protocol }}
          {{- end }}
          envFrom:
            - configMapRef:
                name: {{ include "peaka.fullname" . }}-env-config
          livenessProbe:
            exec:
              command:
              - "sh"
              - "-c"
              - >
                curl -s localhost:8080/v1/info | grep "\"starting\":false"
            initialDelaySeconds: {{ .Values.trino.coordinator.livenessProbe.initialDelaySeconds | default 60 }}
            periodSeconds: {{ .Values.trino.coordinator.livenessProbe.periodSeconds | default 20 }}
            timeoutSeconds: {{ .Values.trino.coordinator.livenessProbe.timeoutSeconds | default 20 }}
            failureThreshold: {{ .Values.trino.coordinator.livenessProbe.failureThreshold | default 12 }}
            successThreshold: {{ .Values.trino.coordinator.livenessProbe.successThreshold | default 1 }}
          readinessProbe:
            exec:
              command:
              - "sh"
              - "-c"
              - >
                curl -s localhost:8080/v1/info | grep "\"starting\":false"
            initialDelaySeconds: {{ .Values.trino.coordinator.readinessProbe.initialDelaySeconds | default 60 }}
            periodSeconds: {{ .Values.trino.coordinator.readinessProbe.periodSeconds | default 20 }}
            timeoutSeconds: {{ .Values.trino.coordinator.readinessProbe.timeoutSeconds | default 20 }}
            failureThreshold: {{ .Values.trino.coordinator.readinessProbe.failureThreshold | default 12 }}
            successThreshold: {{ .Values.trino.coordinator.readinessProbe.successThreshold | default 1 }}
          resources:
            {{- toYaml .Values.trino.coordinator.resources | nindent 12 }}
      {{- include "peaka.common.nodeSelector" ( dict "nodeSelector" .Values.trino.coordinator.nodeSelector "global" $.Values.global) | nindent 6 }}
      {{- with .Values.trino.coordinator.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- include "peaka.common.tolerations" ( dict "tolerations" .Values.trino.coordinator.tolerations "global" $.Values.global) }}
