apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "peaka.fullname" . }}-fe-studio-app
  labels:
    app.kubernetes.io/name: {{ include "peaka.fullname" . }}-fe-studio-app
    {{- include "peaka.labels" . | nindent 4 }}
  annotations:
    checksum/config: {{ include (print $.Template.BasePath "/env-configmap.yaml") . | sha256sum }}
    checksum/nginx-config: {{ include (print $.Template.BasePath "/studio/studio-web-configmap.yaml") . | sha256sum }}
spec:
  replicas: {{ .Values.studioWeb.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "peaka.fullname" . }}-fe-studio-app
      {{- include "peaka.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "peaka.fullname" . }}-fe-studio-app
        {{- include "peaka.labels" . | nindent 8 }}
    spec:
      containers:
        - name: studio-web
          image: {{ printf "%s/%s:%s" (include "peaka.image.registry" . ) .Values.studioWeb.image.name .Values.studioWeb.image.tag }}
          imagePullPolicy: {{ default "IfNotPresent" .Values.studioWeb.image.imagePullPolicy }}
          ports:
            - name: http
              containerPort: 80
          envFrom:
            - configMapRef:
                name: {{ include "peaka.fullname" . }}-config
          volumeMounts:
            - mountPath: /etc/nginx/conf.d/
              name: nginx-config
          {{- with .Values.studioWeb.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.studioWeb.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: nginx-config
          configMap:
            name: {{ include "peaka.fullname" . }}-fe-studio-app
      {{- if .Values.studioWeb.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.studioWeb.terminationGracePeriodSeconds }}
      {{- end }}
      {{- with .Values.studioWeb.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.studioWeb.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
      {{- end }}
