apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "peaka.fullname" . }}-be-data-cache
  labels:
    app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-data-cache
    {{- include "peaka.labels" . | nindent 4 }}
  annotations:
    checksum/config: {{ include (print $.Template.BasePath "/env-configmap.yaml") . | sha256sum }}
spec:
  replicas: {{ .Values.dataCache.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-data-cache
      {{- include "peaka.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-data-cache
        {{- include "peaka.labels" . | nindent 8 }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- range $_, $secret := .Values.imagePullSecrets }}
        - name: {{ $secret }}
        {{- end }}
      {{- end }}
      containers:
        - name: data-cache
          image: "{{ include "peaka.image.registry" . }}/{{ .Values.dataCache.image.name }}:{{ .Values.dataCache.image.tag }}"
          imagePullPolicy: {{ default "IfNotPresent" .Values.dataCache.image.imagePullPolicy }}
          ports:
            - name: http
              containerPort: 80
          envFrom:
            - configMapRef:
                name: {{ include "peaka.fullname" . }}-env-config
          {{- with .Values.dataCache.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.dataCache.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.dataCache.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
        - name: common-flow-utilities-service
          image: "{{ include "peaka.image.registry" . }}/{{ .Values.dataCache.sidecar.imageName }}:{{ .Values.dataCache.sidecar.imageTag }}"
          imagePullPolicy: {{ default "IfNotPresent" .Values.dataCache.sidecar.imagePullPolicy }}
          ports:
            - name: http
              containerPort: 8080
          envFrom:
            - configMapRef:
                name: {{ include "peaka.fullname" . }}-env-config
          env:
            - name: "PAYLOAD_SIZE_LIMIT"
              value: "100mb"
          {{- with .Values.dataCache.sidecar.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- if .Values.dataCache.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.dataCache.terminationGracePeriodSeconds }}
      {{- end }}
      {{- with .Values.dataCache.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.dataCache.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}