apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "peaka.fullname" . }}-be-monitoring-service
data:
  ai-token-usage-metrics-mongodb-sink-connector-config.json: |
    {
      "connector.class": "com.mongodb.kafka.connect.MongoSinkConnector",
      "topics": "ai_token_usage_metric",
      "connection.uri": "mongodb://{{ include "peaka.mongodb.host" . }}",
      "key.converter": "org.apache.kafka.connect.storage.StringConverter",
      "value.converter": "org.apache.kafka.connect.json.JsonConverter",
      "value.converter.schemas.enable": false,
      "database": "peaka",
      "collection": "ai_token_usage_metrics",
      "transforms": "convertStartTime,convertEndTime",
      "transforms.convertEndTime.field": "endTime",
      "transforms.convertEndTime.format": "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",
      "transforms.convertEndTime.target.type": "Timestamp",
      "transforms.convertEndTime.type": "org.apache.kafka.connect.transforms.TimestampConverter$Value",
      "transforms.convertStartTime.field": "startTime",
      "transforms.convertStartTime.format": "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",
      "transforms.convertStartTime.target.type": "Timestamp",
      "transforms.convertStartTime.type": "org.apache.kafka.connect.transforms.TimestampConverter$Value"
    }

  query-events-mongodb-sink-connector-config.json: |
    {
      "connector.class": "com.mongodb.kafka.connect.MongoSinkConnector",
      "topics": "query_history",
      "connection.uri": "mongodb://{{ include "peaka.mongodb.host" . }}",
      "key.converter": "org.apache.kafka.connect.storage.StringConverter",
      "value.converter": "org.apache.kafka.connect.json.JsonConverter",
      "value.converter.schemas.enable": false,
      "database": "peaka",
      "collection": "queries",
      "transforms":"hk,TimestampToIsoDate",
      "transforms.hk.type":"org.apache.kafka.connect.transforms.HoistField$Key",
      "transforms.hk.field":"_id",
      "document.id.strategy":"com.mongodb.kafka.connect.sink.processor.id.strategy.ProvidedInKeyStrategy",
      "document.id.strategy.overwrite.existing": "true",
      "writemodel.strategy": "com.mongodb.kafka.connect.sink.writemodel.strategy.ReplaceOneDefaultStrategy",
      "transforms.TimestampToIsoDate.type": "org.apache.kafka.connect.transforms.TimestampConverter$Value",
      "transforms.TimestampToIsoDate.target.type": "Timestamp",
      "transforms.TimestampToIsoDate.field":"stringifiedQueryEndTime",
      "transforms.TimestampToIsoDate.format":"yyyy-MM-dd'T'HH:mm:ss.SSSSS"
    }
