apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "peaka.fullname" . }}-be-data-rest
  labels:
    app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-data-rest
    {{- include "peaka.labels" . | nindent 4 }}
  annotations:
    checksum/config: {{ include (print $.Template.BasePath "/env-configmap.yaml") . | sha256sum }}
spec:
  replicas: {{ .Values.dataRest.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-data-rest
      {{- include "peaka.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-data-rest
        {{- include "peaka.labels" . | nindent 8 }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- range $_, $secret := .Values.imagePullSecrets }}
        - name: {{ $secret }}
        {{- end }}
      {{- end }}
      initContainers:
        - name: liquibase
          image: "{{ include "peaka.image.registry" . }}/{{ .Values.liquibase.image.name }}:{{ .Values.liquibase.image.tag }}"
          imagePullPolicy: {{ default "IfNotPresent" .Values.liquibase.image.imagePullPolicy }}
          env:
            - name: SERVICE_NAME
              value: "be-data-rest"
          envFrom:
            - configMapRef:
                name: {{ include "peaka.fullname" . }}-env-config
      containers:
        - name: data-rest
          image: "{{ include "peaka.image.registry" . }}/{{ .Values.dataRest.image.name }}:{{ .Values.dataRest.image.tag }}"
          imagePullPolicy: {{ default "IfNotPresent" .Values.dataRest.image.imagePullPolicy }}
          ports:
            - name: http
              containerPort: 8080
          envFrom:
            - configMapRef:
                name: {{ include "peaka.fullname" . }}-env-config
          {{- with .Values.dataRest.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- if .Values.dataRest.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.dataRest.terminationGracePeriodSeconds }}
      {{- end }}
      {{- with .Values.dataRest.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.dataRest.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
