apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "peaka.fullname" . }}-be-dispatcher
  labels:
    app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-dispatcher
    {{- include "peaka.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.dispatcher.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-dispatcher
      {{- include "peaka.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-dispatcher
        {{- include "peaka.labels" . | nindent 8 }}
    spec:
      containers:
        - name: dispatcher
          image: "{{ include "peaka.image.registry" . }}/{{ .Values.dispatcher.image.name }}:{{ .Values.dispatcher.image.tag }}"
          imagePullPolicy: {{ default "IfNotPresent" .Values.dispatcher.image.imagePullPolicy }}
          ports:
            - name: http
              containerPort: 8080
          {{- with .Values.dispatcher.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- if .Values.dispatcher.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.dispatcher.terminationGracePeriodSeconds }}
      {{- end }}
      {{- with .Values.dispatcher.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.dispatcher.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
