apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "peaka.fullname" . }}-be-dispatcher-dlq
  labels:
    app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-dispatcher-dlq
    {{- include "peaka.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.dispatcherDlq.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-dispatcher-dlq
      {{- include "peaka.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-dispatcher-dlq
        {{- include "peaka.labels" . | nindent 8 }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/env-configmap.yaml") . | sha256sum }}
    spec:
      imagePullSecrets:
        {{- if .Values.peakaContainerRegistryAccessSecret }}
        - name: {{ .Values.peakaContainerRegistryAccessSecret.name }}
        {{- end }}
        {{- range $_, $secret := .Values.imagePullSecrets }}
        - name: {{ $secret }}
        {{- end }}
      containers:
        - name: dispatcher-dlq
          image: {{ default (include "peaka.image.registry" .) .Values.dispatcherDlq.image.registry }}/{{ .Values.dispatcherDlq.image.name }}:{{ .Values.dispatcherDlq.image.tag }}
          imagePullPolicy: {{ default "IfNotPresent" .Values.dispatcherDlq.image.imagePullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ include "peaka.fullname" . }}-env-config
          {{- with .Values.dispatcherDlq.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- if .Values.dispatcherDlq.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.dispatcherDlq.terminationGracePeriodSeconds }}
      {{- end }}
      {{- include "peaka.common.nodeSelector" ( dict "nodeSelector" .Values.dispatcherDlq.nodeSelector "global" $.Values.global) | nindent 6 }}
      {{- with .Values.dispatcherDlq.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- include "peaka.common.tolerations" ( dict "tolerations" .Values.dispatcherDlq.tolerations "global" $.Values.global) | nindent 6 }}
