apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "peaka.fullname" . }}-be-auth-service
  labels:
    app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-auth-service
    {{- include "peaka.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.authService.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-auth-service
      {{- include "peaka.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-auth-service
        {{- include "peaka.labels" . | nindent 8 }}
    spec:
      {{- if .Values.authService.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.authService.terminationGracePeriodSeconds }}
      {{- end }}
      containers:
        - name: auth-service
          image: "{{ include "peaka.image.registry" . }}/{{ .Values.authService.image.name }}:{{ .Values.authService.image.tag }}"
          imagePullPolicy: {{ default "IfNotPresent" .Values.authService.image.imagePullPolicy }}
          ports:
            - name: http
              containerPort: 8080
          {{- with .Values.authService.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.authService.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.authService.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
