apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "peaka.fullname" . }}-be-webhook-resolver
  labels:
    app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-webhook-resolver
    {{- include "peaka.labels" . | nindent 4 }}
  annotations:
    checksum/config: {{ include (print $.Template.BasePath "/env-configmap.yaml") . | sha256sum }}
spec:
  replicas: {{ .Values.webhookResolver.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-webhook-resolver
      {{- include "peaka.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-webhook-resolver
        {{- include "peaka.labels" . | nindent 8 }}
    spec:
      containers:
        - name: webhook-resolver
          image: {{ printf "%s/%s:%s" (include "peaka.image.registry" . ) .Values.webhookResolver.image.name .Values.webhookResolver.image.tag }}
          imagePullPolicy: {{ default "IfNotPresent" .Values.webhookResolver.image.imagePullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ include "peaka.fullname" . }}-env-config
          {{- with .Values.webhookResolver.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.webhookResolver.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- if .Values.webhookResolver.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ .Values.webhookResolver.terminationGracePeriodSeconds }}
      {{- end }}
      {{- with .Values.webhookResolver.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.webhookResolver.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
      {{- end }}
