apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ template "peaka.hive.name" . }}
  labels:
    app.kubernetes.io/name: {{ template "peaka.hive.name" . }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ template "peaka.hive.name" . }}
  serviceName: {{ template "peaka.hive.name" . }}
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ template "peaka.hive.name" . }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/hive-metastore/configmap.yaml") . | sha256sum }}
    spec:
      imagePullSecrets:
        {{- if .Values.peakaContainerRegistryAccessSecret }}
        - name: {{ .Values.peakaContainerRegistryAccessSecret.name }}
        {{- end }}
        {{- range $_, $secret := .Values.imagePullSecrets }}
        - name: {{ $secret }}
        {{- end }}
      containers:
        - name: metastore
          image: {{ default (include "peaka.image.registry" .) .Values.hiveMetastore.image.registry }}/{{ .Values.hiveMetastore.image.name }}:{{ .Values.hiveMetastore.image.tag }}
          imagePullPolicy: {{ .Values.hiveMetastore.image.pullPolicy | quote }}
          env:
            - name: METASTORE_DB_HOSTNAME
              value: {{ include "peaka.metastore.host" . }}
            - name: METASTORE_DB_PORT
              value: {{ include "peaka.metastore.port" . | quote }}
            - name: HADOOP_HEAPSIZE
              value: {{ .Values.hiveMetastore.hadoopHeapSize | quote }}
            - name: METASTORE_TYPE
              value: {{ .Values.hiveMetastore.metastoreType | quote }}
            - name: JAVA_HOME
              value: /usr/lib/jvm/default-jvm/jre
          volumeMounts:
            - name: hive-config
              mountPath: /opt/apache-hive-metastore-3.0.0-bin/conf/
      volumes:
        - name: hive-config
          configMap:
            name: {{ template "peaka.hive.name" . }}
      {{- include "peaka.common.nodeSelector" ( dict "nodeSelector" .Values.hiveMetastore.nodeSelector "global" $.Values.global) | nindent 6 }}
      {{- include "peaka.common.tolerations" ( dict "tolerations" .Values.hiveMetastore.tolerations "global" $.Values.global) }}
