apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "peaka.fullname" . }}-be-ai-rest
  labels:
    app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-ai-rest
    {{- include "peaka.labels" . | nindent 4 }}
  annotations:
    checksum/config: {{ include (print $.Template.BasePath "/env-configmap.yaml") . | sha256sum }}
spec:
  replicas: {{ .Values.aiRest.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-ai-rest
      {{- include "peaka.selectorLabels" . | nindent 6}}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "peaka.fullname" . }}-be-ai-rest
        {{- include "peaka.labels" . | nindent 8 }}
    spec:
      initContainers:
        - name: liquibase
          image: "{{ include "peaka.image.registry" . }}/{{ .Values.liquibase.image.name }}:{{ .Values.liquibase.image.tag}}"
          imagePullPolicy: {{ default "IfNotPresent" .Values.liquibase.image.imagePullPolicy }}
          env:
            - name: SERVICE_NAME
              value: "be-ai-rest"
      containers:
        - name: ai-rest
          image: "{{ include "peaka.image.registry" . }}/{{ .Values.aiRest.image.name }}:{{ .Values.aiRest.image.tag}}"
          imagePullPolicy: {{ default "IfNotPresent" .Values.aiRest.image.imagePullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          resources:
            {{- toYaml .Values.aiRest.resources | nindent 12 }}
          envFrom:
            - configMapRef:
                name: {{ include "peaka.fullname" . }}-env-config
      {{- with .Values.aiRest.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.aiRest.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.aiRest.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
